.container {
  width: 25%;

  @media (max-width: 375px) {
    width: 90%;
  }

  @media (min-width: 376px) and (max-width: 768px) {
    width: 45%;
  }

  button{
    width: 100%;
  }

  form > * {
    margin: 0 0 1rem 0;
  }
}